@model PreOrclFrontEnd.ViewModels.VwModelRolesPermisos

    <div class="modal-header">
        <h5 class="modal-title" id="largeModalLabel">Crear Rol de Sistema</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>



    <div class="modal-body">

        <div class="card-body card-block">
            <div class="row form-group">
                <div class="col-sm-12">
                    <label asp-for="NombreRol" class="form-control-label"></label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        <input asp-for="NombreRol" class="form-control" />
                    </div>
                    <span asp-validation-for="NombreRol" class="text-danger"></span>
                </div>

                @for (int i = 0; i < Model.VwModelPermisos.Count; i++)
                {
                <div class="col-sm-6">
                    <label asp-for="VwModelPermisos[i].NombrePermiso" class="form-control-label"></label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-users"></i></div>
                        <input asp-for="VwModelPermisos[i].NombrePermiso" class="form-control" disabled="disabled" />
                    </div>
                </div>
                        }
                        @*<label asp-for="per_apellido_comercial" class="form-control-label"></label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-users"></i></div>
                    <input asp-for="per_apellido_comercial" class="form-control" disabled="disabled" />
                </div>
                <span asp-validation-for="per_apellido_comercial" class="text-danger"></span>*@
                   
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        @*<a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.per_IDPER">Editar</a>*@
    </div>

